<div id="Projects">
  <div class="row view-heading">Projects</div>
  <table class="row header">
    <tr>
      <td class="project">project</td>
      <td class="client">client</td>
      <td class="details">hours</td>
      <td class="details">date started</td>
      <td class="details">rate p/h</td>
      <td class="options"><i class="sidebar icon"></i></td>
    </tr>
  </table>

  <table class="row">
    <tr>
      <td class="project"><input [value]="newProjName" (input)="setName($event)" (click)="hideClients()" placeholder=" add new project" /></td>
      <td class="client-select">
        <div class="client-input" [class.has-focus]="hasFocus">
          <p [class.default-select]="defaultInput" (click)="toggleClients()">{{newProjClientName}}</p>
          <div [hidden]="clientsDisplay">
            <p *ngFor="let client of clients" (click)="setClient(client)">{{client.name}}</p>
          </div>
        </div>
      </td>
      <td class="details"></td>
      <td class="details"></td>
      <td class="details"></td>
      <td class="options"><a (click)="addNewProject()"><i class="checkmark icon"></i></a></td>
    </tr>
  </table>

  <table class="projects-table">
    <tr *ngFor="let project of projects">
      <td class="project" (click)="viewProject(project.id)">{{project.name}}</td>
      <td class="client">{{project.clientName}}</td>
      <td class="details">00:00</td>
      <td class="details">{{shortDate(project.createdAt)}}</td>
      <td class="details">R00.00</td>
      <td class="options">
        <span><a (click)="archiveProject(project)"><i class="archive icon"></i></a></span>
        <span><a (click)="deleteProject(project)"><i class="trash icon"></i></a></span>
      </td>
    </tr>
  </table>
</div>
