#Projects {
  color: #4a434a;
  padding: 15px;
  min-width: 530px;
}

#Projects table {
  width: 100%;
  table-layout: fixed;
}

#Projects a {
  color: #a89f8e;
}

#Projects input, #Projects .client-input {
  width: 100%;
  border: solid 1px #cfe3e6;
  color: #4a434a;
  padding: 0.7em;
  border-radius: 0.28em;
}

#Projects .client-input {
  height: 38px;
  overflow-y: visible;
  padding: 0;
}

#Projects .client-input div {
  position: relative;
  background-color: #eee;
  border-radius: 0.28em;
  max-height: 110px;
  overflow-y: scroll;
}

#Projects .client-input p:only-of-type {
  font-family: sans-serif;
  margin: 0;
  padding: 0.7em;
}
#Projects .client-input p:only-of-type:hover {
  background-color: rgba(0,0,0,0);
  color: #4a434a;
}

.client-input p {
  margin: 0;
  padding: 8px 10px;
}

.client-input p:hover {
  background-color: #4a93a1;
  color: #fff;
}

.default-select {
  color: #8a888a;
}
#Projects .client-input p.default-select:hover {
  color: #8a888a;
}
.has-focus {
  background-color: #eee;
  border-color: #c3bdb1 !important;
}

#Projects input:focus {
  background-color: #eee;
  outline: none;
  border: solid 1px #c3bdb1;
}

#Projects .header {
  color: #1a4a50;
  font-weight: 300;
  border-bottom: solid 2px #1a4a50;
}

.view-heading {
  font-size: 2.5em;
  font-weight: 300;
  line-height: 1.5em;
}

.details {
  width: 80px;
  min-width: 60px;
  text-align: right;
  padding-right: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.project, .client, .client-select {
  min-width: 80px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.client, .client-select {
  width: 25%;
}

.client-select {
  overflow: visible;
}

/*-------------------------------------*/
@media only screen and (max-width: 768px) {
  .project, .client {
    max-width: 80px;
  }

  .view-heading {
    font-size: 1.2em;
  }
}
/*-------------------------------------*/
.details:nth-child(3), .details:nth-child(4) {
  width: 10%;
  min-width: 80px;
  text-align: left;
}

.details:nth-child(5) {
  width: 60px;
}

.options {
  width: 60px;
  text-align: center;
  padding-right: 5px;
}

.projects-table td {
  border-bottom: dashed 1px #e1ded8;
  font-weight: 400;
}

.projects-table .project {
  cursor: pointer;
}
