#Clients {
  color: #4a434a;
  padding: 15px;
  min-width: 530px;
}

#Clients table {
  width: 100%;
  table-layout: fixed;
}

#Clients a {
  color: #a89f8e;
}

#Clients input {
  width: 100%;
  border: solid 1px #cfe3e6;
  color: #4a434a;
  padding: 0.7em;
  border-radius: 0.28em;
}

#Clients input:focus {
  background-color: #eee;
  outline: none;
  border: solid 1px #c3bdb1;
}

#Clients .header {
  color: #1a4a50;
  font-weight: 300;
  border-bottom: solid 2px #1a4a50;
}

#Clients .visible.content {
  width: 50px;
}

#Clients .ui.move.reveal {
  color: #a89f8e;
}

.view-heading {
  font-size: 2.5em;
  font-weight: 300;
  line-height: 1.5em;
}

.details {
  width: 80px;
  min-width: 60px;
  text-align: right;
  padding-right: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.client, .client-email {
  min-width: 80px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.client {
  width: 25%;
}

/*-------------------------------------*/
@media only screen and (max-width: 768px) {
  .client {
    max-width: 80px;
  }

  .view-heading {
    font-size: 1.2em;
  }
}
/*-------------------------------------*/
.details:nth-child(3), .details:nth-child(4) {
  width: 10%;
  min-width: 80px;
  text-align: left;
}

.details:nth-child(5) {
  width: 60px;
}

.options {
  width: 60px;
  text-align: center;
  padding-right: 5px;
}

.clients-table td {
  border-bottom: dashed 1px #e1ded8;
  font-weight: 400;
}
