<div id="Clients">
  <div class="row view-heading">Clients</div>
  <table class="row header">
    <tr>
      <td class="client">name</td>
      <td class="client-email">email</td>
      <td class="details">date created</td>
      <td class="details">hours</td>
      <td class="options"><i class="sidebar icon"></i></td>
    </tr>
  </table>
  <table class="row">
    <tr>
      <td class="client"><input [value]="newClientName" (input)="setName($event)" placeholder=" add new client" /></td>
      <td class="client-email"><input placeholder=" email" /></td>
      <td class="details"></td>
      <td class="details"></td>
      <td class="options"><a (click)="addNewClient()"><i class="checkmark icon"></i></a></td>
    </tr>
  </table>

  <table class="clients-table">
    <tr *ngFor="let client of clients">
      <td class="client">{{client.name}}</td>
      <td class="client-email"></td>
      <td class="details">{{shortDate(client.createdAt)}}</td>
      <td class="details">00:00</td>
      <td class="options">
        <span><a (click)="archiveClient(client)"><i class="archive icon"></i></a></span>
        <span><a (click)="deleteClient(client)"><i class="trash icon"></i></a></span>
      </td>
    </tr>
  </table>

  <!--<table data-bind="template: { name: 'folder', foreach: clients }" class="clients-table"></table>
  <script type="text/html" id="folder">
    <tr>
      <td class="client" data-bind="text: name()"></td>
      <td class="client-email"></td>
      <td class="details" data-bind="text: createdAtShort()"></td>
      <td class="details"></td>
      <td class="options">
        <div class="ui move reveal">
          <div class="visible content bg-white">
            <i class="sidebar icon"></i>
          </div>
          <div class="hidden content">
            <span><a href="#" data-bind="click: $root.archiveProj"><i class="archive icon"></i></a></span>
            <span><a href="#" data-bind="click: $root.removeClient"><i class="trash icon"></i></a></span>
          </div>
        </div>
      </td>
    </tr>
  </script>-->
</div>
