#SideBar {
  width: 65px;
  background: linear-gradient(to bottom, #1a4a50, #1d5b63);
  font-size: 2em;
  overflow-y: visible !important;
}

#SideBar i {
  line-height: 0;
}

#SideBar > .item {
  margin: 0 auto;
  width: 65px;
  padding: 25px 16px;
}

#SideBar .account-btn {
  position: absolute;
  bottom: 0px;
}

#SideBar .account-menu {
  font-size: 14px;
  position: absolute;
  bottom: 38px;
  max-height: 120px;
  left: 55px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
  border-radius: 3px;
  background-color: #fff;
  color: #4a4a4a;
  overflow-x: hidden;
  width: 125px;
}

#SideBar .account-menu p {
  padding: 5px 10px;
  margin: 0;
}

#SideBar .account-menu p:hover {
  background-color: #4a93a1;
  color: #fff;
}
