<div id="SideBar" class="ui sidebar visible vertical menu inverted">
  <a routerLink="/dashboard" class="item"><i class="home icon"></i></a>
  <a routerLink="/project-list" class="item"><i class="tasks icon"></i></a>
  <a routerLink="/client-list" class="item"><i class="user icon"></i></a>
  <a routerLink="/employee" class="item"><i class="users icon"></i></a>
  <a routerLink="/timesheet" class="item"><i class="hourglass half icon"></i></a>

  <div class="item account-btn">
    <i class="user circle outline icon" (click)="toggleList()"></i>
    <div class="account-menu" [hidden]="accountsDisplay">

      
        <p *ngFor="let account of accounts" (click)="selectAccount(account.id)">{{account.name}}</p>
      
    </div>
  </div>
</div>
