.view-heading {
  font-size: 2.5em;
  font-weight: 300;
  line-height: 1.5em;
}

#Project {
  height: 100%;
  margin: 0;
}

#Project .column:first-of-type {
  background: url(../../assets/img/tt-background.png) no-repeat;
  background-size: cover;
}

.proj-left {
  height: 100%;
  width: 100%;
}

.proj-right {
  background-color: #fff;
  height: auto;
  position: absolute;
}

.proj-left .time-dropdowns {
  float: right;
  padding-right: 10px;
  height: 20px;
  overflow-y: visible;
}

.month-list, .year-list, .date-list {
  overflow-y: hidden;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  text-align: right;
  padding: 4px 0;
  float: right;
}
.month-list {
  width: 110px;
  height: 160px;
  margin-right: 50px;
}
.year-list {
  width: 55px;
  margin-right: 20px;
}
.date-list {
  width: 150px;
  max-height: 160px;
}
.month-list p, .year-list p, .date-list p {
  padding: 1px 10px;
  margin: 0;
}
.month-list i, .year-list i, .date-list i {
  margin: 0;
  height: 8px;
}
.month-list p:hover, .year-list p:hover, .date-list p:hover {
  background-color: #4a93a1;
  color: #fff;
}
.month-list p:first-child, .month-list p:last-child, .year-list p:first-child, .year-list p:last-child, .date-list p:first-child, .date-list p:last-child {
  color: #c3bdb1;
  text-align: center;
  padding: 0;
  line-height: 10px;
}
.month-list p:first-child:hover, .month-list p:last-child:hover, .year-list p:first-child:hover, .year-list p:last-child:hover, .date-list p:first-child:hover, .date-list p:last-child:hover {
  background-color: #fff;
  color: #a89f8e;
}

.proj-chart {
  padding: 10px 0 25px 10px;
  width: 95%;
}
/*---------------------------*/
@media only screen and (min-width: 768px) {
  #Project .column:first-of-type {
    height: 100vh;
    position: fixed;
  }

  .proj-right {
    position: relative;
    left: 56%;
  }
}
/*------------------------*/


#chartjs-tooltip {
  opacity: 1;
  position: absolute;
  background-color: #4a434a;
  border-radius: 3px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  pointer-events: none;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 28%;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.4);
}

#chartjs-tooltip table {
  width: 100%;
}

.tooltip-left {
  background-color: #4a434a;
  color: #fff;
  padding: 5px;
  width: 48%;
}

.tooltip-right {
  background-color: #fff;
  color: #4a434a;
  padding: 5px;
}

.tooltip-right i {
  text-align: right;
  color: #1d5b63;
}

.tooltip-right span {
  float: right;
}
