<div id="Project" class="ui stackable two column grid">
  <div class="column">
    <div class="proj-left">
      <div>
        <div>{{project.clientName}}</div>
        <div class="view-heading" (click)="changeSet">{{project.name}}</div>
        <div class="time-dropdowns">
          <div>
            <span class="bold">00</span>
            <span>hours logged in:</span>
            <span class="bold" (click)="toggleMonths()">{{selectedMonth}}</span>
            <span class="bold" (click)="toggleYears(); getYears(project.createdAt)">{{selectedYear}}</span>
            <span><i class="dropdown icon" (click)="toggleCombDate(); getCombDates(project.createdAt)"></i></span>
          </div>
          <div>
            <div [hidden]="hideMonths" class="month-list">
              <p (click)="scrollMonths(0)"><i class="caret up icon"></i></p>
              <p *ngFor="let month of monthsToDisplay" (click)="setMonth(month)">{{month}}</p>
              <p (click)="scrollMonths(1)"><i class="caret down icon"></i></p>
            </div>
            <div [hidden]="hideYears" class="year-list">
              <p (click)="scrollYears(0)"><i class="caret up icon"></i></p>
              <p *ngFor="let year of years" (click)="setYear(year)">{{year}}</p>
              <p (click)="scrollYears(1)"><i class="caret down icon"></i></p>
            </div>
            <div [hidden]="hideCombDate" class="date-list">
              <p (click)="scrollDates(0)"><i class="caret up icon"></i></p>
              <p *ngFor="let date of combDatesToDisplay" (click)="setMonth(date.month); setYear(date.year)">{{date.month}} {{date.year}}</p>
              <p (click)="scrollDates(1)"><i class="caret down icon"></i></p>
            </div>
          </div>
        </div>
        

        <div class="proj-chart">

          <div>
            <canvas id="canvas">{{ chart }}</canvas>
          </div>

          <!--<div id="chartjs-tooltip">
            <table></table>
            <div class="ui custom popup">
              <div data-bind="foreach: breakdownArray">
                <span data-bind="text: task"></span>
                <span>: </span>
                <span data-bind="text: hours"></span>
              </div>
            </div>
          </div>-->

        </div>
        <div>Employees</div>
      </div>
    </div>
  </div>
  <div class="column proj-right">
    <div>Task List</div>
    <div>task</div>
    <div>task</div>
    <div>task</div>
    <div>task</div>
    <div>task</div>
    <div>task</div>
    <div>task</div>
    <div>task</div>
    <div>task</div>
    <div>task</div>
    <div>task</div>
    <div>task</div>
    <div>task</div>
    <div>task</div>
    <div>task</div>
    <div>task</div>
    <div>task</div>
    <div>task</div>
    <div>task</div>
    <div>task</div>
    <div>task</div>
    <div>task</div>
    <div>task</div>
    <div>task</div>
    <div>task</div>
    <div>task</div>
    <div>task</div>
    <div>task</div>
    <div>task</div>
    <div>task</div>
    <div>task</div>
    <div>task</div>
    <div>task</div>
    <div>task</div>
    <div>task</div>
    <div>task</div>
    <div>task</div>
    <div>task</div>
    <div>task</div>
    <div>task</div>
    <div>task</div>
    <div>task</div>
    <div>task</div>
  </div>
</div>
