@import '~semantic-ui/dist/semantic.min.css';

#MainContent {
  margin-left: 65px;
  height: 100%;
  min-height: 100%;
}

/*-------------------------------------Login page*/
#Login {
  height: 100%;
  color: #fff;
}

#Login .buffer {
  width: 55%;
  min-width: 10px;
}

#Login a {
  background-color: rgba(250,250,250,0);
  border: solid 1px #fff;
  color: #fff;
}

#Login a:hover {
  background-color: rgba(250,250,250,0.95);
  color: #1d5b63;
}

#Login div i, #Login div input {
  color: #fff;
}

#Login div label {
  color: rgba(250,250,250,0.6);
  cursor: pointer;
  padding-left: 12px;
}

#Login div label:hover {
  color: rgba(250,250,250,0.95);
}

#login-bg {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: url(/assets/img/0001.png) no-repeat;
  background-size: cover;
}

.login-banner {
  width: 25%;
  min-width: 320px;
  max-width: 350px;
}
/*---------------------------*/
@media only screen and (max-width: 683px) {
  .login-banner {
    top: -50px;
  }
}
/*------------------------*/
.login-header {
  padding: 50px 0;
}

.login-details {
  min-width: 200px;
  width: 90%;
  margin: 0 auto;
  padding: 10px 20px 150px 20px;
  background-color: rgba(15,112,130,0.95);
}

.login-details h1 {
  margin-top: 5px;
}

.login-details div.ui {
  margin: 20px 1px;
  padding: 2px 0;
  border-bottom: solid 1px #e1ded8;
  width: 100%;
}

.login-footnote {
  padding: 8px 16px;
  background-color: #fff;
  color: #1d5b63;
  width: 90%;
  margin: 0 auto;
}

.login-footnote span:last-of-type {
  float: right;
}

/*---------------------------------Utilities*/
.bold {
  font-weight: bold;
}
